html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: source-han-sans-japanese, Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
  background: #fff;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
}

.header__hamburger span{
   margin-bottom: 7px;
      position: relative;
      display: block;
      width: 32px;
      height: 3px;
      background: #333;
}

.header__hamburger {
    display: none;
    position: fixed;
    z-index: 99;
    top: 30px;
    right: 16px;
    cursor: pointer;
    font-size: 10.6px;}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.containers {
  margin: 0 auto;
  max-width: 968px;
  padding-right: 16px;
  padding-left: 16px;
}

.font-l,
.font-s {
  line-height: 1.5;
  text-align: justify;
}

.font-l {
  font-size: 16px;
}

.font-s {
  font-size: 14px;
}

.spOnly {
  display: none;
}

.pcOnly {
  display: block;
}

@media (max-width: 768px) {
  .spOnly {
    display: block;
  }

  .pcOnly {
    display: none;
  }

  .h1 {
    font-size: 28px;
  }

  .h2 {
    font-size: 24px;
  }

  .h3 {
    font-size: 20px;
  }

  .h4 {
    font-size: 18px;
  }

  .h5 {
    font-size: 16px;
  }

  .h6 {
    font-size: 14px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}

.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.col-1 {
  max-width: 8.3333333333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.3333333333%;
  flex: 0 0 8.3333333333%;
}

.col-2 {
  max-width: 16.6666666667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.6666666667%;
  flex: 0 0 16.6666666667%;
}

.col-3 {
  max-width: 25%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.col-4 {
  max-width: 33.3333333333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3333333333%;
  flex: 0 0 33.3333333333%;
}

.col-5 {
  max-width: 41.6666666667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.6666666667%;
  flex: 0 0 41.6666666667%;
}

.col-6 {
  max-width: 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.col-7 {
  max-width: 58.3333333333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.3333333333%;
  flex: 0 0 58.3333333333%;
}

.col-8 {
  max-width: 66.6666666667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.6666666667%;
  flex: 0 0 66.6666666667%;
}

.col-9 {
  max-width: 75%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
}

.col-10 {
  max-width: 83.3333333333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.3333333333%;
  flex: 0 0 83.3333333333%;
}

.col-11 {
  max-width: 91.6666666667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.6666666667%;
  flex: 0 0 91.6666666667%;
}

.col-12 {
  max-width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.col-3 {
  max-width: 25%;
  float: 0 0 25%;
}

.col-4 {
  max-width: 33.333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
}

.col-5 {
  max-width: 41.666%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666%;
  flex: 0 0 41.666%;
}

.col-6 {
  max-width: 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.col-7 {
  max-width: 58.333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333%;
  flex: 0 0 58.333%;
}

.col-8 {
  max-width: 66.666%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666%;
  flex: 0 0 66.666%;
}

.col-12 {
  max-width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

@media (max-width: 768px) {
  .col-1 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-2 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-3 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-4 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-5 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-6 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-7 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-8 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-9 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-10 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .col-11 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 425px) {

  .col-4,
  .col-6 {
    width: 100%;
  }
}

.Glass {
  padding: 60px 0;
}

@media (max-width: 768px) {
  .Glass {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .Glass__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 40px;
  }
}

.Glass__title {
  padding: 12px;
  text-align: center;
  color: #fff;
  background: linear-gradient(51deg, #997300 0%, #AC8200 12.33%, #B18500 24.39%, #836300 36.46%, #E5C150 58.33%, #F2D067 75%, #FFE597 87.76%, #FFF 99.5%);
  margin-bottom: 20px;
}

.Glass__logo img {
  width: 100%;
}

.Glass .h2 {
  color: #B18500;
  text-align: center;
  margin-bottom: 32px;
}

.Glass .h3 {
  text-align: center;
  color: #B18500;
  margin-bottom: 40px;
}

.House{
  background: #F2CCB3;
}

/*# sourceMappingURL=all.css.map */